.first{
    margin-top: 40%;
    background-color: white !important;
}

.arrow-box {
    position: relative;
    margin: 20px;
}
  
.arrow-box::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 90%;
    transform: translateX(-20%);
    border-width: 10px;
    border-style: solid;
    border-color: white white transparent transparent;
}

.custom-prev-button-icon{
  color: black;
  font-weight: bolder;
}

.vert{
  background-color: #32CD32;
}

.color_vert{
  color: #32CD32 !important;
}
.coeur{
  border-radius: 0 50% 0 50% !important;
  margin-right: -1%;
}
.scale{
  transform: scale(2) !important;
}